{% extends 'backsite/main.html' %}
{% load static %}
{% block js%}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block body %}
<div class="container-fluid p-0">
  <div class='row'>
    <div class="col-md-8">
      <form method="post">
        {% csrf_token %}
        <div class="card">

                  <div class="card-header">
                    <h5 class="card-title mb-0">{{form.content.label}}</h5>
                  </div>
                  <div class="card-body">
                    {{form.content}}
                  </div>
                  </div>
                <button type='submit' class="btn btn-primary btn-lg">Kaydet</button>

      </form>
    </div>


  </div>
</div>

{% endblock %}
