{% extends 'backsite/main.html' %}
{% load static %}


{% block body %}
<div class="container-fluid p-0">

        <h1 class="h3 mb-3">Kedi Ekleme Düzenleme Sayfası <a href="{% url 'backsite:create_cat' %}" class="btn btn-primary btn-lg" style="float:right">Kedi Ekle</a></h1>
  <div class="row">
      {% for cat in cats %}
      <div class="col-12 col-md-3">
            <div class="card">
              <img class="card-img-top" src="{{cat.img.url}}" style="max-width: 44%;margin: 0 auto;">
              <div class="card-header">
                <h5 class="card-title mb-0">{{cat.title}}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">{{cat.content|safe|truncatechars:11}}</p>
                <a href="{% url 'backsite:update_cat' id=cat.id %}" class="btn btn-success"><i style="vertical-align: text-top!important;" data-feather="edit"></i> Düzenle</a>
                <a href="{% url 'backsite:delete_cat' id=cat.id %}" class="btn btn-danger"><i style="vertical-align: text-top!important;" data-feather="delete"></i> Sil</a>
              </div>
            </div>
          </div>

      {% endfor %}

  </div>

</div>
{% endblock %}
