.type_span{
    background: red;
    color: white;
    border-radius: 5px;
    padding: .2% 1%;
    margin-right: 1%;
    margin-top: 1%;
    float:left;
}
.type_del_button{
  background: none;
  border: none;
  color: white;
  float: none;
}
.bg{
  height: 32%;
display: block;
width: 49%;
margin: 0px auto;
background: white;
padding: 2%;

}
