{% extends 'main.html' %}
{% load static %}

{% block body %}
<section class="astroid-section" id="ts-451555907311432"><div class="container"><div class="astroid-row row" id="ar-701555907311432"><div class="astroid-column col-lg-12 order-xl-0 order-lg-0 order-md-0 order-sm-0 order-0" id="ac-651555907311432"><div class="astroid-module-position" id="bp-731555907356229"> <div class="moduletable ">
         <div aria-label="breadcrumbs" role="navigation" class="mod_breadcrumbs">
	    <h2 class="heading-title-page">{{blog.title}}</h2>
	<!-- <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb uk-breadcrumb">
		            <li>
				You are here: &nbsp;
            </li>
								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="/index.php/en/" class="pathway"><span itemprop="name">Home</span></a>
										<meta itemprop="position" content="1">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
											<a itemprop="item" href="/index.php/en/blog" class="pathway"><span itemprop="name">Blog</span></a>
										<meta itemprop="position" content="2">
				</li>
							<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
					<span itemprop="name">
						7 Reasons to Walk Your Dog					</span>
					<meta itemprop="position" content="3">
				</li>
				</ul> -->
</div> </div> </div></div></div></div></section>
<section class="astroid-section astroid-component-section" id="cs-1528971561366"><div class="container"><div class="astroid-row row" id="ar-1528971561366"><div class="astroid-column col-lg-6 order-xl-0 order-lg-0 order-md-0 order-sm-0 order-0 col-lg-9" id="ac-511555906566780"><div class="astroid-message" id="am-711555907090073"><div id="system-message-container">
   </div></div><div class="astroid-component" id="ca-1121555907157112"><main class="astroid-component-area">
   <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
   <meta itemprop="inLanguage" content="en">



		<div class="entry-image full-image mb-3"> <img style="width: fit-content;height: 418px;"src="{{blog.img.url}}" alt="" itemprop="image" class="img-fluid"> </div>
                    <dl class="article-info muted">



               	<dd class="published">
		<i class="far fa-calendar-check"></i>
		<time datetime="2020-08-25T07:01:10+00:00" itemprop="datePublished">{{blog.created_at}}</time>
	</dd>
</dl>        <div class="item-detail-container">



<div itemprop="articleBody" class="article-body">
  {{blog.content|safe}}
</div>
</div>




</div> </div> </div></div></div></div></section>
{% endblock %}
