{% extends 'main.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div data-eb-posts="" class="DS022717362007472075">
        	<div data-eb-posts-wrapper="">
        		<div data-eb-post-section="" data-url="https://pethub.jollyany.co/index.php/en/blog/easyblog/5-cleaning-hacks-to-beat-pet-allergies" data-page-title="PetHub - Blog - 5 Cleaning Hacks to Beat Pet Allergies" data-permalink="/index.php/en/blog/easyblog/5-cleaning-hacks-to-beat-pet-allergies" data-post-title="5 Cleaning Hacks to Beat Pet Allergies">
        	<div class="eb-adsense-head clearfix">
        			</div>

        	<div data-blog-post="" class="DS07351681330187949">


        		<div id="entry-10" class="eb-entry fd-cf" data-blog-posts-item="" data-id="10" data-uid="10.27">

        			<div data-blog-reading-container="">

        				<div class="eb-entry-head">
        											<h1 id="title-10" class="eb-entry-title reset-heading  ">
        	{{cat.title}}</h1>

        		<div class="eb-post-date">

        	<time class="eb-meta-date" content="2021-02-19">
        		Eklenme Tarihi - {{cat.created_at|date:"d-m-Y"}}</time>

        </div>
        	</div>

        	</div>
        				</div>

        				<div class="eb-entry-body type-standard clearfix">
        					<div class="eb-entry-article clearfix" data-blog-content="">


        						<div class="eb-image eb-post-thumb is-full" data-eb-entry-cover="">
                      <div class="gender-type">

                        <span style="position: absolute;color:white;
    padding: 10px 20px;background:{% if cat.gender == 1 %}pink;{% else %}blue;{% endif %}">{% if cat.gender == 1 %}Dişi{% else %}Erkek{% endif %} - {{cat.cat_type.title}}</span>
                      </div>
        			<a class="eb-post-image eb-image-popup-button" href="//pethub.jollyany.co/images/easyblog_articles/10/ludemeula-fernandes-9UUoGaaHtNE-unsplas_20210303-084920_1.jpg" target="_blank" title="ludemeula-fernandes-9UUoGaaHtNE-unsplas_20210303-084920_1" caption="" style="
        								width: 100%;
        				">
        												<img src="{{cat.img.url}}" alt="ludemeula-fernandes-9UUoGaaHtNE-unsplas_20210303-084920_1">


        					</a>

        	</div>

        <div class="ebd-block   " data-type="text">
          {{cat.content|safe}}
        </div>




        											</div>








        										<div class="eb-entry-tags">
        											</div>





        									</div>
        			</div>



        												</div>





        <a class="eb-anchor-link" name="comments" id="comments" data-allow-comment="1">&nbsp;</a>

         			</div>

        	<div class="eb-adsense-foot clearfix">
        			</div>
        </div>

        <script type="application/ld+json">
        {
        	"@context": "http://schema.org",
        	"mainEntityOfPage": "https://pethub.jollyany.co/index.php/en/blog/easyblog/5-cleaning-hacks-to-beat-pet-allergies",
        	"@type": ["BlogPosting", "Organization"],
        	"name": "PetHub",
        	"headline": "5 Cleaning Hacks to Beat Pet Allergies",
        	"image": "https://pethub.jollyany.co/images/easyblog_articles/10/b2ap3_large_ludemeula-fernandes-9UUoGaaHtNE-unsplas_20210303-084920_1.jpg",
        	"editor": "Victoria Rawson",
        	"genre": "Blogs",
        	"wordcount": "468",
        	"publisher": {
        		"@type": "Organization",
        		"name": "PetHub",
        		"logo": {"@type":"ImageObject","url":"https:\/\/pethub.jollyany.co\/media\/com_easyblog\/images\/schema\/logo.png","width":60,"height":60}	},
        	"datePublished": "2021-02-19",
        	"dateCreated": "2021-02-19",
        	"dateModified": "2021-03-03",
        	"description": "",
        	"articleBody": "&lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Pet allergies are unpleasant.&amp;nbsp;Itchy eyes, sneezing, a runny nose, and wheezing can all make living with a dog very difficult. If you&#039;ve made the decision to bring a dog into your home, or if you have family and friends who are allergic to your dog, there are plenty of ways to reduce the number of allergens in your home. These hacks will help manage pet allergies and make life more pleasant.&lt;br&gt;&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Most people think they are allergic to pet hair; however, allergies are usually a reaction to the proteins in their dander (dead skin), urine and saliva. If you knew you had an allergy before you bought a dog, hopefully you chose a hypoallergenic dog which is less likely to trigger reactions because they produce less dander.&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;heading&quot; &gt;&lt;h3&gt;Hack #1: Have Some Dog-Free Areas&lt;/h3&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;image&quot; style=&quot;text-align: center;&quot;&gt;&lt;div class=&quot;eb-image style-clear&quot;&gt;
        	&lt;div class=&quot;eb-image-figure is-responsive&quot;&gt;

        					&lt;a class=&quot;eb-image-viewport&quot;&gt;
        									&lt;img src=&quot;images/easyblog_articles/10/b2ap3_large_krista-mangulsone-9gz3wfHr65U-unsplash.jpg&quot; 				/&gt;
        									&lt;/a&gt;
        	&lt;/div&gt;
        				&lt;/div&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Consider having a few rooms which your dog isn&#039;t allowed into. Don&#039;t allow your dog into your bedroom or on your bed, and consider keeping him off furniture which you frequently use, such as your sofa. This won&#039;t stop pet allergens spreading to these areas, but it will reduce the amount of dander.&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;heading&quot; &gt;&lt;h3&gt;Hack #2: Say Goodbye to Carpets&lt;/h3&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Carpets can trap dog hair and dander making it difficult to remove even after a good vacuuming. Stick to hard surface flooring such as wood, vinyl laminate or tile. These surfaces are much easier to keep clean and hair &amp;amp; dander free. Vacuuming and mopping removes pet allergens quite quickly.&lt;br&gt;&lt;br&gt;If you are set on having carpets, choose a low pile which is less likely to trap allergens. Please keep in mind that you should have them professionally cleaned frequently.&lt;br&gt;&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;heading&quot; &gt;&lt;h3&gt;Hack #3: Bathe and Brush Regularly&lt;/h3&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;If you have a visitor coming over who is allergic to your four-legged friend, you might want to consider giving your pooch the ultimate spa treatment to reduce the number of allergens. Unfortunately, this isn&#039;t a great long-term solution for those living with the dog. It is only a temporary fix since allergens will be back in two to three days after the bath.&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;heading&quot; &gt;&lt;h3&gt;Hack #4: Use an Air Purifier&lt;/h3&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Using an air purifier with a HEPA filter can remove impurities and pet allergens from the air. These purifiers work by trapping particles which cause allergic reactions so it&#039;s important that you use it in the rooms that your dog uses the most.&lt;/p&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;heading&quot; &gt;&lt;h3&gt;Hack #5: Clean and Dust Regularly&lt;/h3&gt;&lt;/div&gt;
        &lt;div  class=&quot;ebd-block   &quot; data-type=&quot;text&quot; &gt;&lt;p&gt;Having a cleaning schedule in place will help to prevent allergens from building up. Invest in a pet vacuum which has been specifically developed to help remove hair, dander and pet odors. Dusting regularly will also help to keep dander levels to a minimum. Make sure you clean and dust all the areas which your dog regularly uses, as well as their toys and bed.&lt;/p&gt;&lt;/div&gt;
        ",
        	"author": {
        		"@type": "Person",
        		"url": "https://pethub.jollyany.co/index.php/en/blog/easyblog/blogger/admin",
        		"name": "Victoria Rawson",
        		"image": "https://pethub.jollyany.co/images/easyblog_avatar/777_03_testimonial.jpg"
        	}}
        </script>

        	</div>

        	</div>



      </div>

    </div>
  </div>
{% endblock %}
