{% extends "main.html" %} {% load static %} {% block css %}
<style media="screen">
    .imgOut {
        width: 100%;
        height: -webkit-fill-available;
    }
    
    .bodyText {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        background: black;
        opacity: 0.3;
    }
</style>
{% endblock %} {% block body %}
<section class="astroid-section astroid-component-section" id="cs-1528971561366">
    <div class="astroid-row row no-gutters gx-0" id="ar-1528971561366">
        <div class="astroid-column col-lg-12 order-xl-0 order-lg-0 order-md-0 order-sm-0 order-0" id="ac-1530100662663">
            <div class="astroid-message" id="am-711555907090073">
                <div id="system-message-container">
                </div>
            </div>
            <div class="astroid-component" id="ca-1121555907157112">
                <main class="astroid-component-area">

                    <div id="sp-page-builder" class="sp-page-builder  page-8">


                        <div class="page-content">
                            <section id="section-id-1614586051910" class="sppb-section sppb-section-content-center">
                                <div class="sppb-row-container">
                                    <div class="sppb-row sppb-align-center">
                                        <div class="sppb-col-md-6" id="column-wrap-id-1614586051908">
                                            <div id="column-id-1614586051908" class="sppb-column">
                                                <div class="sppb-column-addons">
                                                    <div id="sppb-addon-wrapper-1614586051935" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614586051935" class="clearfix ">
                                                            <h2 class="tz-title uk-margin-top uk-text-uppercase"><span class="heading-highlighted-wrapper"><span class="heading-plain-text"><span>Bir arkadaşa mı ihtiyacın var ?</span>Akıllı bir </span><span class="heading-highlighted-text heading-highlighted-text-active">Arkadaş Edin<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M9.3,127.3c49.3-3,150.7-7.6,199.7-7.4c121.9,0.4,189.9,0.4,282.3,7.2C380.1,129.6,181.2,130.6,70,139 c82.6-2.9,254.2-1,335.9,1.3c-56,1.4-137.2-0.3-197.1,9"></path></svg></span></span>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div id="sppb-addon-wrapper-1614586051913" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614586051913" class="clearfix ">
                                                            <div class="sppb-addon sppb-addon-text-block sppb-text-left ">
                                                                <div class="sppb-addon-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                                    nisi ut aliquip ex ea commodo consequat.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="sppb-addon-wrapper-1614586051928" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614586051928" class="clearfix ">
                                                            <div class="sppb-text-left"><a href="{% url 'contact_us' %}" id="btn-1614586051928" class="sppb-btn  sppb-btn-custom sppb-btn-lg sppb-btn-rounded">Arkadaş Edin <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sppb-col-md-6" id="column-wrap-id-1614586051909">
                                            <div id="column-id-1614586051909" class="sppb-column">
                                                <div class="sppb-column-addons">
                                                    <div id="sppb-addon-wrapper-1614586051901" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614586051901" class="clearfix ">
                                                            <div class="ui-filter-gallery">
                                                                <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-grid uk-flex-top uk-flex-wrap-top" uk-grid="masonry: true;parallax: 157" style="padding-bottom: 116px; height: 741px;">
                                                                    <div class="uk-first-column" style="transform: translateY(0px);">
                                                                        <div class="uk-light">
                                                                            <div class="ui-item uk-inline-clip uk-transition-toggle uk-box-shadow-large uk-box-shadow-hover-xlarge" tabindex="0"><img class="ui-image uk-transition-scale-up uk-transition-opaque" src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL3BlcnNpYW4tY2F0LTEuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoiMTIwMCJ9fX0="
                                                                                    alt="Image Alt">
                                                                                <div class="uk-position-center"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="transform: translateY(0px);">
                                                                        <div class="uk-light">
                                                                            <div class="ui-item uk-inline-clip uk-transition-toggle uk-box-shadow-large uk-box-shadow-hover-xlarge" tabindex="0"><img class="ui-image uk-transition-scale-up uk-transition-opaque" src="https://www.everypaw.com/.imaging/mte/everypaw/590x330/dam/cat-breed-guides/persian/persian-kitten.jpg/jcr:content/persian-kitten.jpg"
                                                                                    alt="Image Alt">
                                                                                <div class="uk-position-center">
                                                                                    <div class="uk-overlay uk-transition-fade uk-margin-remove-first-child"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="uk-grid-margin uk-first-column" style="">
                                                                        <div class="uk-light">
                                                                            <div class="ui-item uk-inline-clip uk-transition-toggle uk-box-shadow-large uk-box-shadow-hover-xlarge" tabindex="0"><img class="ui-image uk-transition-scale-up uk-transition-opaque" src="https://lawire.com/wp-content/uploads/2020/05/zzz12123-43.jpg" alt="Image Alt">
                                                                                <div class="uk-position-center">
                                                                                    <div class="uk-overlay uk-transition-fade uk-margin-remove-first-child"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="uk-grid-margin" style="transform: translateY(0px);">
                                                                        <div class="uk-light">
                                                                            <div class="ui-item uk-inline-clip uk-transition-toggle uk-box-shadow-large uk-box-shadow-hover-xlarge" tabindex="0"><img class="ui-image uk-transition-scale-up uk-transition-opaque" src="https://caredicat.com/wp-content/uploads/2022/01/persian-cat-breed-2.jpg" alt="Image Alt">
                                                                                <div class="uk-position-center">
                                                                                    <div class="uk-overlay uk-transition-fade uk-margin-remove-first-child"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="section-id-1614142999530" class="sppb-section sppb-section-content-center">
                                <div class="sppb-row-container">
                                    <div class="sppb-row sppb-align-center">
                                        <div class="sppb-col-md-5" id="column-wrap-id-1614142999529">
                                            <div id="column-id-1614142999529" class="sppb-column">
                                                <div class="sppb-column-addons">
                                                    <div id="sppb-addon-wrapper-1614154846488" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614154846488" class="clearfix ">
                                                            <div class="ui-addon-image" uk-parallax="x: -15,15;y: -25,50;scale: 1,1;opacity: 1,1;media: @m;" style="transform: translateX(-15px) translateY(-25px) scale(1); opacity: 1;">
                                                                <div>
                                                                    <picture><img class="el-image uk-box-shadow-large uk-box-shadow-hover-medium" data-src="/images/avatars/mubariz-mehdizadeh-364026-unsplash.jpg" data-origin="/images/avatars/mubariz-mehdizadeh-364026-unsplash.jpg"
                                                                            data-type="image/jpeg" data-width="500" data-height="582" uk-img="" alt="" src="{% static 'img/2cat.jpg' %}"></picture>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sppb-col-md-7" id="column-wrap-id-1614673745965">
                                            <div id="column-id-1614673745965" class="sppb-column">
                                                <div class="sppb-column-addons">
                                                    <div id="sppb-addon-wrapper-1614142999547" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614142999547" class="clearfix ">
                                                            <h2 class="tz-title uk-margin-remove-top uk-text-uppercase uk-scrollspy-inview " uk-scrollspy="cls: uk-animation-slide-bottom-medium;" style=""><span class="heading-highlighted-wrapper"><span class="heading-plain-text"><span>Hakkımızda</span></span><span class="heading-highlighted-text heading-highlighted-text-active">Honey Valerian Cattery<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M5,125.4c30.5-3.8,137.9-7.6,177.3-7.6c117.2,0,252.2,4.7,312.7,7.6"></path><path d="M26.9,143.8c55.1-6.1,126-6.3,162.2-6.1c46.5,0.2,203.9,3.2,268.9,6.4"></path></svg></span></span>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div id="sppb-addon-wrapper-1614399091399" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614399091399" class="clearfix ">
                                                            <div class="sppb-addon sppb-addon-text-block  ">
                                                                <div class="sppb-addon-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="sppb-addon-wrapper-1614142999556" class="sppb-addon-wrapper">
                                                        <div id="sppb-addon-1614142999556" class="clearfix ">
                                                            <div class="ui-svg-image">
                                                                <div class="ui-content"><img class="svg-img" src="/images/tz_pethub/home-signature.svg" alt="Signature" width="" height="" uk-svg="" hidden=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sppb-col-md-12" id="column-wrap-id-1614677717522">
                                            <h2 class="sppb-addon-title">DOSTLARIMIZ</h2>
                                            {% for cat in cats %}
                                            <div class="col-md-4" style="float:left;padding:1%">
                                                <div class="card">
                                                    <img src="{{cat.img.url}}" class="card-img-top" style="height:300px;" alt="...">
                                                    <div class="card-body bodyText">
                                                        <p class="card-text">{{cat.title}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div id="sppb-addon-1614586051928" style='padding: 1%;' class="clearfix ">
                                                <div class="sppb-text-left"><a href="{% url 'cats_blog' %}" style="float:right" id="btn-1614586051928" class="sppb-btn  sppb-btn-custom sppb-btn-lg sppb-btn-rounded">Diğer Dostlarımız <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="section-id-1614677717505" class="sppb-section">
                                <div class="sppb-row-container">
                                    <div class="sppb-row">
                                        <div class="sppb-col-md-12" id="column-wrap-id-1614677717512">
                                            <h2 class="sppb-addon-title">YAZILARIMIZ</h2>
                                        </div>
                                        {% for blog in blogs %}
                                        <div class="col-md-4" style="float:left;padding:1%">
                                            <div class="card">
                                                <img src="{{blog.img.url}}" class="card-img-top" style="height:300px;" alt="...">
                                                <div class="card-body bodyText">
                                                    <p class="card-text">{{blog.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>


                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}